/* Colors */
@import url(https://fonts.googleapis.com/css?family=Righteous|Satisfy|Raleway|Open+Sans:400,700);
/* Settings */
/* Resets */
html, body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans";
  background: #353535 url("/images/squares-top.png") top left no-repeat;
  color: #353535;
  border-color: #353535;
  padding: 0;
  margin: 0; }
  @media screen and (min-width: 768px) {
    body {
      background-size: contain; } }

ol, ul {
  margin: 0;
  padding: 0; }
  ol li, ul li {
    list-style: none; }

a, button {
  cursor: pointer;
  outline: none; }
  a:hover, a:active, button:hover, button:active {
    outline: none; }

a {
  color: #f9f9f9; }

button {
  border: 1px solid rgba(253, 178, 79, 0.2);
  background-color: transparent;
  border-radius: 1px;
  color: #FDB24F;
  padding: 0.75em 1.5em;
  transition: all 300ms;
  display: inline-block;
  font-size: 1.2em;
  font-weight: normal; }
  button:hover {
    border-color: #FDB24F; }
  button:active {
    border-color: #fda736; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 2rem; }
