@import '../../css/_base';

.slides-container {
  height: calc(100vh - #{$header-height});
  display: flex;
  flex-direction: column;
}

.panels {
  flex: 1;
  position: relative;

  @include bp($bp) {
    display: flex;
    flex-direction: row;
    min-height: 260px;

    .panel:last-child {
      padding: $default-gutter 2em;

      &:before {
        content: '';
        position: absolute;
        top: $default-gutter;
        bottom: $default-gutter;
        left: 0;
        width: 4px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 20px;
      }
    }
  }
}

.panel-tabs {
  display: flex;
}

.panel-tab {
  flex: 1;
  opacity: 0.5;
  max-width: 280px;

  &.is-active {
    opacity: 1;
  }

  @include bp($bp) {
    opacity: 1 !important;

    &:last-child {
      margin-left: auto;
    }
  }

  h2 {
    color: $default-color;
    font-family: $brand-font;
    font-size: 1.6rem;
    padding: 4px 16px 4px 30px;
    position: relative;
    border-bottom: 1px solid $black;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      background-color: $white;
      z-index: -1;
      transform: skewX(30deg) translateX(-11px);
      border-radius: 3px 3px 0 0;
    }

    &:before {
      left: 0;
      right: 50%;
      transform: skewX(-30deg) translateX(12px);
    }
  }
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  display: none;

  &.is-active {
    display: block;
  }

  @include bp($bp) {
    display: block !important;
    position: relative;
    flex: 1;
  }
}

pre {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  width: 100%;

  @include bp($bp) {
    font-size: 1.8em;
  }
}

.slide-groups {
  display: none;
  background-color: darken($info-color, 5%);

  @include bp($bp) {
    display: flex;
    flex-direction: row;
  }

  > li {
    background-color: lighten($info-color, 15%);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0.5em 1em;
    transition: all 100ms;
    font-size: 1.1rem;
    font-family: $header-font;
    cursor: pointer;
    border-left: 1px solid $info-color;

    &.is-active {
      position: relative;
      background-color: darken($info-color, 5%);
      color: $white;
    }

    .slides {
      display: flex;
      margin-top: auto;
      justify-content: center;
      width: 100%;
      padding-top: 10px;

      > li {
        margin-right: 5px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        border: 1px solid $info-color;
        box-shadow: inset 0 0 2px 0 darken($info-color, 5%);
        transition: all 300ms;

        &.is-active {
          background-color: $primary-color;
          border-color: $primary-color;
          box-shadow: none;
        }
      }
    }
  }
}

.slides-content {
  display: flex;
  align-items: flex-start;
  padding: $default-gutter;
  min-height: 275px;
}

.slide-footer {
  background-color: $black;
  display: flex;
  padding: 32px 0;
  align-items: center;
  justify-content: center;

  @include bp($bp) {
    display: flex;
  }
}

.slide-actions {
  min-height: 64px;
  display: flex;
  justify-content: center;
  padding: 0;
  min-width: 270px;

  button {
    width: 50%;
    background: $primary-color url('images/btn-arrow.svg') center no-repeat;
    border-style: none;
    position: relative;

    span {
      display: none;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:first-child:after {
      content: '';
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: 0;
      width: 4px;
      background-color: rgba($default-color, 0.2);
      border-radius: 10px;
      z-index: 10;
    }

    &:last-child {
      border-radius: 4px 0 0 4px;
      transform: rotate(180deg);
    }
  }
}

.btn-reset {
  display: none;
  text-indent: -9999px;
  background: $default-color url('images/btn-refresh-alt.svg') center no-repeat;
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;

  @include bp($bp) {
    display: block;
  }
}