<div class='slides-container' (window:keydown)='onKey($event)'>
  <div class='panel-tabs'>
    <div class='panel-tab' (click)='setActiveTab(0)'
      [ngClass]='{ "is-active" : isActiveTab(0) }'
      >
      <h2>CSS</h2>
    </div>
    <div class='panel-tab' (click)='setActiveTab(1)'
      [ngClass]='{ "is-active" : isActiveTab(1) }'
      >
      <h2>RESULT</h2>
    </div>
  </div>
  <div class='panels'>
    <button class='btn-reset' type='button' (click)='reset()'>Reset</button>
    <div class='panel'
      [ngClass]='{ "is-active" : isActiveTab(0) }'
      >
      <div class='slides-content'>
        <pre>
          <code *ngIf='!currentSlide().flexItem'>.flex-container {
  {{ currentSlide().message }}
}</code>
          <code *ngIf='currentSlide().flexItem'>.flex-item-2 {
  {{ currentSlide().message }}
}</code>
        </pre>
      </div>
    </div>
    <div class='panel'
      [ngClass]='{ "is-active" : isActiveTab(1) }'
      >
      <app-flex-container
        [flexItems]=flexItems
        [display]=display
        [justifyContent]=justifyContent
        [alignItems]=alignItems
        [flexFlow]=flexFlow
        [alignContent]=alignContent
        [flexDirection]=flexDirection
        [flexWrap]=flexWrap
      >
      </app-flex-container>
    </div>
  </div>
  <ol class='slide-groups'>
    <li class='slide-group' *ngFor='let group of groupedSlides'
      [ngClass]='{ "is-active" : (currentSlide().section === group.section) }'
      [style.flexGrow]='group.slides.length'
      (click)='goToSection(group)'>
      <code class='name'>{{ group.section }}</code>
      <ol class='slides'>
        <li class='slide' *ngFor='let slide of group.slides'
        (click)='goToSlide(slide); $event.stopPropagation();'
        [ngClass]='{ "is-active" : isActiveSlide(slide) }'>
          <div class='option'></div>
          <div class='tooltip'>
            <code>{{ slide.tooltip }}</code>
          </div>
        </li>
      </ol>
    </li>
  </ol>
  <div class='slide-footer'>
    <div class='slide-actions'>
      <button class='btn-prev' type='button' (click)='prev()'><span>Prev</span></button>
      <button class='btn-next' type='button' (click)='next()'><span>Next</span></button>
    </div>
  </div>
</div>
<app-keyboard-keys></app-keyboard-keys>