@import '../../css/_base';

.slides-container {
  height: calc(100vh - #{$header-height});
  display: flex;
  flex-direction: column;
  margin: 24px $default-gutter;
  position: relative;
  z-index: 1;

  @include bp($bp) {
    margin-top: 0;
  }
}

.panels {
  flex: 1;
  position: relative;
  border: 1px solid $primary-color;

  @include bp($bp) {
    display: flex;
    flex-direction: row;
    min-height: 260px;

    .panel:last-child {
      padding: $default-gutter;
    }
  }
}

.panel-tabs {
  display: flex;
}

.panel-tab {
  flex: 1;
  max-width: 280px;

  @include bp($bp) {
    &:last-child {
      margin-left: auto;

      h2 {
        right: 1px;
      }
    }
  }

  h2 {
    color: $primary-color;
    font-family: $header-font;
    font-size: 1.6rem;
    padding: 4px 16px 4px 30px;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      background-color: transparent;
      z-index: -1;
      transform: skewX(30deg) translateX(-11px);
    }

    &:before {
      left: 0;
      right: 50%;
      transform: skewX(-30deg) translateX(12px);
      border-left: 1px solid $primary-color;
      border-top: 1px solid $primary-color;
      border-radius: 3px 0 0 0;
    }

    &:after {
      border-right: 1px solid $primary-color;
      border-top: 1px solid $primary-color;
      border-radius: 0 3px 0 0;
    }
  }
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  color: $white;

  &.is-active {
    display: block;
  }

  @include bp($bp) {
    display: block !important;
    position: relative;
    flex: 1;
  }
}

pre {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  width: 100%;

  @include bp($bp) {
    font-size: 1.8em;
  }
}

.slide-groups {
  display: none;
  margin-bottom: 30px;

  @include bp($bp) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }

  > li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0.5em 0.75em;
    transition: all 100ms;
    font-size: 1.1rem;
    font-family: $header-font;
    cursor: pointer;
    color: $white;
    border-left: 1px solid $primary-color;

    &.is-active {
      position: relative;
    }
  }
}

.slides {
  display: flex;
  margin-top: auto;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

.slide {
  position: relative;
  z-index: 2;

  &.is-active {
    > .option {
      background-color: $primary-color;
      border-color: $primary-color;
      box-shadow: none;
    }

    > .tooltip {
      display: block;
      z-index: 1;
    }
  }

  &:not(.is-active):hover {
    > .option {
      background-color: $primary-color;
      border-color: $primary-color;
      box-shadow: none;
    }

    .tooltip {
      display: block;
      z-index: 2;
    }
  }

  > .option {
    margin-right: 5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid $primary-color;
    box-shadow: inset 0 0 2px 0 darken($black, 5%);
    transition: all 300ms;
  }

  > .tooltip {
    position: absolute;
    top: 28px;
    min-width: 325px;
    background-color: $black;
    border: 1px solid $primary-color;
    border-bottom-style: none;
    color: $white;
    padding: 5px 0 15px;
    text-align: center;
    display: none;

    .slide-group:not(:nth-child(n + 10)) & {
      left: -10px;
    }

    .slide-group:nth-child(n + 10) & {
      right: -10px;
    }

    > code {
      position: relative;
      top: 2px;
    }

    &::before {
      content: ' ';
      border-left: 1px solid $primary-color;
      height: 23px;
      position: absolute;
      top: -23px;

      .slide-group:not(:nth-child(n + 10)) & {
        left: 15px;
      }

      .slide-group:nth-child(n + 10) & {
        right: 19px;
      }
    }
  }
}

.slides-content {
  display: flex;
  align-items: flex-start;
  padding: $default-gutter;
  min-height: 275px;
}

.slide-footer {
  background-color: $black;
  display: flex;
  padding: 32px 0;
  align-items: center;
  justify-content: center;

  @include bp($bp) {
    display: flex;
    padding-top: 64px;
  }
}

.slide-actions {
  min-height: 55px;
  display: flex;
  justify-content: center;
  padding: 0;
  min-width: 220px;

  button {
    width: 50%;
    background: transparent url('images/btn-arrow.svg') center no-repeat;
    border: 1px solid transparentize($primary-color, 0.8);
    position: relative;
    transition: all 300ms;

    &:hover {
      border-color: $primary-color;
    }

    span {
      display: none;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-right-style: none;

      &:hover {
        border-right-style: solid;

        & ~ button {
          border-right-style: none;
        }
      }
    }

    &:first-child:after {
      content: '';
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: 0;
      width: 4px;
      background-color: rgba($default-color, 0.2);
      border-radius: 10px;
      z-index: 10;
    }

    &:last-child {
      border-radius: 4px 0 0 4px;
      transform: rotate(180deg);
    }
  }
}

.btn-reset {
  display: none;
  text-indent: -9999px;
  background: $default-color url('images/btn-refresh-alt.svg') center no-repeat;
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;

  @include bp($bp) {
    display: block;
  }
}