:host {
  padding: 1em;
  background-color: #27ae60;
  color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;

  &:nth-child(even) {
    background-color: #1abc9c;
    padding: 3em 1em;
  }

  h3 {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .flex-actions {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}