@import '../../css/_base';

:host {
  margin: 0;
  padding: 0.5em;
  background-color: $primary-color;
  color: $black;
  display: block;
  transition: all 300ms;
  font-size: 1em;

  &:nth-child(even) {
    background-color: darken($primary-color, 15%);
  }

  h3 {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .flex-actions {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}