<div class='flex-item'>
  {{ flexItem.name }}
  <div class='flex-actions' *ngIf='showControls'>
    <div>
      <h4>Align Self</h4>
      <select [(ngModel)]='alignSelf'>
        <option *ngFor='let item of alignSelfOptions' [value]='item'>{{item}}</option>
      </select>
    </div>
    <div>
      <h4>Flex Grow</h4>
      <input type='number' [(ngModel)]='flexGrow'>
    </div>
    <div>
      <h4>Flex Shrink</h4>
      <input type='number' [(ngModel)]='flexShrink'>
    </div>
    <div>
      <h4>Flex Basis</h4>
      <select [(ngModel)]='flexBasis'>
        <option *ngFor='let item of flexBasisOptions' [value]='item'>{{item}}</option>
      </select>
    </div>
    <div>
      <h4>Order</h4>
      <input type='number' [(ngModel)]='order'>
    </div>
  </div>
  <div *ngIf='showControls'>
    <button type='button' (click)='destroy()'>Remove [x]</button>
  </div>
</div>
