:host {
  // width: 100%;
  // margin-right: 6em;
  display: block;

  .items {
    margin: 0 auto;
    padding: 0;
    // min-height: 300px;
    // min-width: 500px;
    transition: all 400ms;
    transition-delay: 200ms;
    height: 100%;
  }

  .message {
    font-size: 4em;
    text-align: center;
  }

  .actions {
    margin: 0 0 1em;
    display: flex;

    div {
      flex: 1;

      select {
        display: block;
        width: 100%;
      }
    }

    div + div {
      margin-left: 1em;
    }
  }
}