@import url(https://fonts.googleapis.com/css?family=Raleway|Open+Sans:400,700);
/* Resets */
html, body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #190604;
  color: #fff;
  border-color: #fff;
  padding: 0;
  margin: 0; }

ol, ul {
  margin: 0;
  padding: 0; }
  ol li, ul li {
    list-style: none; }

a, button {
  cursor: pointer;
  outline: none; }
  a:hover, a:active, button:hover, button:active {
    outline: none; }

a {
  color: #fff; }

button {
  border: 1px solid rgba(253, 178, 79, 0.2);
  background-color: transparent;
  border-radius: 1px;
  color: #FDB24F;
  padding: 0.75em 1.5em;
  transition: all 300ms;
  display: inline-block;
  font-size: 1.2em;
  font-weight: normal; }
  button:hover {
    border-color: #FDB24F; }
  button:active {
    border-color: #fda736; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway'; }

header {
  display: flex;
  align-items: center; }
  header h1 {
    margin: 0;
    padding: 0.5em; }
  header nav {
    margin-left: auto;
    display: inline-flex; }
    header nav a {
      display: block;
      font-family: 'Raleway';
      padding: 0.5em 2em;
      margin: 0.5em 0;
      text-decoration: none; }
      header nav a:hover {
        text-decoration: underline; }
      header nav a:not(:first-child) {
        border-left: 1px solid rgba(255, 255, 255, 0.5); }

main {
  height: calc(100vh - 100px); }

footer {
  font-size: 1.2em;
  text-align: center;
  padding: 2em 0;
  margin: 1em 0 0; }
