<header class='site-header'>
  <a routerLink='/learn'>
    <h1>
      <span>How to</span> <span>Flexbox</span>
    </h1>
  </a>
  <nav>
    <a routerLink='/learn' routerLinkActive='is-active'>Learn</a>
    <a routerLink='/about' routerLinkActive='is-active'>About</a>
  </nav>
</header>
<main class='site-content'>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="fb-like" data-href="http://www.howtoflexbox.com" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  <div>Built by <a href='http://sturdynut.com' target='_blank'>sturdynut</a> using <a href='https://www.angular.io' target='_blank'>Angular 2</a> and kindly hosted by <a href='https://github.com/sturdynut/how-to-flexbox' target='_blank'>Github</a> <span class='heart'></span></div>
</footer>