<header class='site-header'>
  <h1>
    <span>How to</span> <span>Flexbox</span>
  </h1>
  <nav>
    <a routerLink='/learn' routerLinkActive='is-active'>Learn</a>
    <a routerLink='/play' routerLinkActive='is-active'>Play</a>
    <a routerLink='/about' routerLinkActive='is-active'>About</a>
  </nav>
</header>
<main class='site-content'>
  <router-outlet></router-outlet>
</main>
<footer>
  &copy; Copyright 2016.  All rights reserved.
  <br /><br />Built by <a href='https://www.twitter.com/sturdynut' target='_blank'>@sturdynut</a> with pure, flexbox joy.
  <br /><br /><a href='https://github.com/sturdynut/how-to-flexbox' target='_blank'>[ Source ]</a>
</footer>