:host .flex-items {
  margin: 0 auto;
  padding: 0;
  display: flex;
  border: 3px solid #f1c40f;
  border-radius: 3px;
  max-height: 1000px; }

:host .flex-actions {
  margin: 0 0 1em;
  display: flex; }
  :host .flex-actions div {
    flex: 1; }
    :host .flex-actions div select {
      display: block;
      width: 100%; }
  :host .flex-actions div + div {
    margin-left: 1em; }
