app-flex-container {
  padding-top: 2em; }

pre {
  display: flex;
  justify-content: center;
  margin: 0 4em 0 0;
  padding: 0;
  font-size: 2em;
  min-width: 570px; }
  pre code {
    height: 300px;
    width: 570px; }

.slide-groups {
  display: flex;
  flex-direction: row;
  background-color: #2F0C07; }
  .slide-groups li {
    display: inline-flex;
    align-items: center;
    flex: 1;
    padding: 1em;
    transition: all 100ms;
    color: #FDB24F;
    font-size: 1.2em;
    font-family: 'Raleway';
    cursor: pointer; }
    .slide-groups li:not(:first-child) {
      border-left: 1px solid rgba(253, 178, 79, 0.6); }
    .slide-groups li.active {
      position: relative;
      background-color: #FDB24F;
      color: #2F0C07; }
      .slide-groups li.active:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent #FDB24F transparent;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer; }

.slides-content {
  display: flex;
  align-items: flex-start;
  padding: 4em 0; }

.slide-actions {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  align-items: center;
  padding: 0 6em; }
  .slide-actions button:first-child {
    margin-right: auto; }
  .slide-actions button:last-child {
    margin-left: 0.5em; }
