/* Colors */
/* Settings */
@import url(https://fonts.googleapis.com/css?family=Righteous|Satisfy|Open+Sans:400,700);
/* Colors */
@import url(https://fonts.googleapis.com/css?family=Righteous|Satisfy|Open+Sans:400,700);
/* Settings */
/* Resets */
html, body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans";
  background: #353535 top left no-repeat;
  color: #353535;
  border-color: #353535;
  padding: 0;
  margin: 0; }
  @media screen and (min-width: 768px) {
    body {
      background-size: contain; } }

ol, ul {
  margin: 0;
  padding: 0; }
  ol li, ul li {
    list-style: none; }

a, button {
  cursor: pointer;
  outline: none; }
  a:hover, a:active, button:hover, button:active {
    outline: none; }

a {
  color: #f9f9f9;
  text-decoration: none; }

button {
  border: 1px solid rgba(253, 178, 79, 0.2);
  background-color: transparent;
  border-radius: 1px;
  color: #FDB24F;
  padding: 0.75em 1.5em;
  transition: all 300ms;
  display: inline-block;
  font-size: 1.2em;
  font-weight: normal; }
  button:hover {
    border-color: #FDB24F; }
  button:active {
    border-color: #fda736; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 2rem; }

h1 {
  font-size: 3rem;
  font-weight: 700; }

h2 {
  font-size: 2.8rem;
  font-weight: 700; }

h3 {
  font-size: 2.5rem; }

/* Colors */
.page-container {
  padding: 40px;
  background: #f9f9f9;
  min-height: 360px; }
  .page-container a {
    color: #353535; }
  .page-container p {
    line-height: 1.75;
    font-size: 1.6rem; }

.slides-container {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  margin: 24px 16px;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .slides-container {
      margin-top: 0; } }

.panels {
  flex: 1;
  position: relative;
  border: 1px solid #FDD14F; }
  @media screen and (min-width: 768px) {
    .panels {
      display: flex;
      flex-direction: row;
      min-height: 260px; }
      .panels .panel:last-child {
        padding: 16px; } }

.panel-tabs {
  display: flex; }

.panel-tab {
  flex: 1;
  max-width: 280px; }
  @media screen and (min-width: 768px) {
    .panel-tab:last-child {
      margin-left: auto; }
      .panel-tab:last-child h2 {
        right: 1px; } }
  .panel-tab h2 {
    color: #FDD14F;
    font-family: "Open Sans";
    font-size: 1.6rem;
    padding: 4px 16px 4px 30px;
    position: relative; }
    .panel-tab h2:before, .panel-tab h2:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      background-color: transparent;
      z-index: -1;
      transform: skewX(30deg) translateX(-11px); }
    .panel-tab h2:before {
      left: 0;
      right: 50%;
      transform: skewX(-30deg) translateX(12px);
      border-left: 1px solid #FDD14F;
      border-top: 1px solid #FDD14F;
      border-radius: 3px 0 0 0; }
    .panel-tab h2:after {
      border-right: 1px solid #FDD14F;
      border-top: 1px solid #FDD14F;
      border-radius: 0 3px 0 0; }

.panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  color: #f9f9f9; }
  .panel.is-active {
    display: block; }
  @media screen and (min-width: 768px) {
    .panel {
      display: block !important;
      position: relative;
      flex: 1; } }

pre {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  width: 100%; }
  @media screen and (min-width: 768px) {
    pre {
      font-size: 1.8em; } }

.slide-groups {
  display: none;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .slide-groups {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row; } }
  .slide-groups > li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0.5em 0.75em;
    transition: all 100ms;
    font-size: 1.1rem;
    font-family: "Open Sans";
    cursor: pointer;
    color: #f9f9f9;
    border-left: 1px solid #FDD14F; }
    .slide-groups > li.is-active {
      position: relative; }

.slides {
  display: flex;
  margin-top: auto;
  justify-content: center;
  width: 100%;
  padding-top: 10px; }

.slide {
  position: relative;
  z-index: 2; }
  .slide.is-active > .option {
    background-color: #FDD14F;
    border-color: #FDD14F;
    box-shadow: none; }
  .slide.is-active > .tooltip {
    display: block;
    z-index: 1; }
  .slide:not(.is-active):hover > .option {
    background-color: #FDD14F;
    border-color: #FDD14F;
    box-shadow: none; }
  .slide:not(.is-active):hover .tooltip {
    display: block;
    z-index: 2; }
  .slide > .option {
    margin-right: 5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #FDD14F;
    box-shadow: inset 0 0 2px 0 #282828;
    transition: all 300ms; }
  .slide > .tooltip {
    position: absolute;
    top: 28px;
    min-width: 325px;
    background-color: #353535;
    border: 1px solid #FDD14F;
    border-bottom-style: none;
    color: #f9f9f9;
    padding: 5px 0 15px;
    text-align: center;
    display: none; }
    .slide-group:not(:nth-child(n + 10)) .slide > .tooltip {
      left: -10px; }
    .slide-group:nth-child(n + 10) .slide > .tooltip {
      right: -10px; }
    .slide > .tooltip > code {
      position: relative;
      top: 2px; }
    .slide > .tooltip::before {
      content: ' ';
      border-left: 1px solid #FDD14F;
      height: 23px;
      position: absolute;
      top: -23px; }
      .slide-group:not(:nth-child(n + 10)) .slide > .tooltip::before {
        left: 15px; }
      .slide-group:nth-child(n + 10) .slide > .tooltip::before {
        right: 19px; }

.slides-content {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  min-height: 275px; }

.slide-footer {
  background-color: #353535;
  display: flex;
  padding: 32px 0;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .slide-footer {
      display: flex;
      padding-top: 64px; } }

.slide-actions {
  min-height: 55px;
  display: flex;
  justify-content: center;
  padding: 0;
  min-width: 220px; }
  .slide-actions button {
    width: 50%;
    background: transparent url("images/btn-arrow.svg") center no-repeat;
    border: 1px solid rgba(253, 209, 79, 0.2);
    position: relative;
    transition: all 300ms; }
    .slide-actions button:hover {
      border-color: #FDD14F; }
    .slide-actions button span {
      display: none; }
    .slide-actions button:first-child {
      border-radius: 4px 0 0 4px;
      border-right-style: none; }
      .slide-actions button:first-child:hover {
        border-right-style: solid; }
        .slide-actions button:first-child:hover ~ button {
          border-right-style: none; }
    .slide-actions button:first-child:after {
      content: '';
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: 0;
      width: 4px;
      background-color: rgba(53, 53, 53, 0.2);
      border-radius: 10px;
      z-index: 10; }
    .slide-actions button:last-child {
      border-radius: 4px 0 0 4px;
      transform: rotate(180deg); }

.btn-reset {
  display: none;
  text-indent: -9999px;
  background: #353535 url("images/btn-refresh-alt.svg") center no-repeat;
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .btn-reset {
      display: block; } }
