<div class='page-container'>
  <h1>About</h1>
  <p>
    This initially started because of a lunch-n-learn I did on Flexbox and
   had decided to not use slides.  I thought it'd be cool to build something would walk
    someone through each flexbox property and show you what it did.
  </p>
  <p>
    I hope it is helpful to you and if you have any questions or tips feel free to reach out to me
    on twitter, my handle is <a href='https://twitter.com/sturdynut' target='_blank'>@sturdynut</a>.
  </p>
  <h3>Thanks for stopping by!</h3>
</div>