<div class='page-container'>
  <h1>About</h1>
  <p>
    The how-to-flexbox app came into existance because I presented on flexbox and chose not to use slides.
    I wanted to try something different, so I wrote a <a href='http://sturdynut.com/2016/05/22/flexbox/' target='_blank'>blog post</a> and built this app to walk through each flexbox property and show you both the code and
    the rendered HTML to better understand the impacts of each property value.
  </p>
  <p>
    If you find any bugs or have any ideas how this app can be improved, shoot me a message
    on twitter.
  </p>
  <p>
    I can be reached via Twitter at <a href='https://twitter.com/sturdynut' target='_blank'>@sturdynut</a>.
  </p>
  <h3>Thanks for stopping by!</h3>
</div>