@import '../../css/_base';

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
h1 {
  font-size: 5rem;
  font-family: $brand-font-2;
  transform: rotate(-5deg);
}
h1, h3 {
  text-align: center;
}
h3 {
  font-weight: normal;
  padding: 40px 0;
  font-family: $brand-font-2;
  animation: pulse 1s;
  animation-fill-mode: forwards;
}
a {
  border-bottom: 2px solid $primary-color;
  text-decoration: none;
}