<div class='page-container'>
  <h1>About</h1>
  <p>
    This initially started because of a lunch-n-learn I committed myself to do on Flexbox and
    I did not want to use slides.  So, I decided to build a small application that would walk
    someone through each flexbox property and show you what it did.
  </p>
  <p>
    I hope it is helpful to you and if you have any questions feel free to reach out to me
    on twitter, my handle is <a href='https://twitter.com/sturdynut' target='_blank'>@sturdynut</a>.
  </p>
  <h3>Thanks for stopping by!</h3>
</div>