@import '../css/_base';

header {
  position: relative;
  padding: $default-gutter;

  @media only screen and (min-width: 768px)  {
    display: flex;
    align-items: center;
  }

  h1 {
    margin: 0;
    padding: $default-gutter 0;
    font-family: $brand-font;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -4px;

    span {
      font-family: $brand-font-2;
      font-weight: normal;
      font-size: 0.5em;
      color: $secondary-color;
      letter-spacing: initial;
      position: absolute;
      text-transform: none;
      transform: rotate(-17deg) translate(-23px, -26px);
    }
  }

  nav {
    display: flex;
    justify-content: space-around;

    a {
      display: block;
      font-family: $header-font;
      font-size: 1rem;
      color: $default-color;
      border: 1px solid $secondary-color;
      border-radius: 25px;
      padding: 6px 20px;
      margin: 0 6px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  // min-height: calc(100vh - 100px);
}

footer {
  font-size: 1.2em;
  text-align: center;
  padding: 2em 0;
  margin: 1em 0 0;
  color: $white;
}