@import '../css/_base';

header {
  position: relative;
  padding: $default-gutter;
  height: $header-height;

  @include bp($bp)  {
    display: flex;
    align-items: center;
  }

  h1 {
    margin: 0;
    padding: $default-gutter 0;
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-color;

    @include bp($bp)  {
      margin-left: 40px;
    }

    span {
      &:first-child {
        font-family: $brand-font-2;
        font-weight: normal;
        font-size: 0.5em;
        color: $secondary-color;
        position: absolute;
        text-transform: none;
        transform: rotate(-17deg) translate(-26px, -15px);
      }
      &:last-child {
        font-family: $brand-font;
        letter-spacing: -4px;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;

    @include bp($bp)  {
      margin-left: auto;
      justify-content: space-around;
    }

    a {
      display: block;
      font-family: $header-font;
      font-size: 1rem;
      flex: 1;
      color: $secondary-color;
      border: 1px solid $secondary-color;
      border-radius: 25px;
      padding: 6px 20px;
      margin: 0 6px;
      text-decoration: none;
      transition: all 300ms;
      max-width: 180px;
      text-align: center;

      &.is-active {
        background-color: $secondary-color;
        color: $white;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  // min-height: calc(100vh - #{$header-height});
}

footer {
  font-size: 1em;
  text-align: center;
  padding: 2em 0;
  margin: 1em 0 0;
  color: $white;
}