<div class='actions'>
  <div>
    <h4>Justify Content</h4>
    <select [(ngModel)]='justifyContent'>
      <option *ngFor='let item of justifyContentOptions' [value]='item'>{{item}}</option>
    </select>
  </div>
  <div>
    <h4>Align Items</h4>
    <select [(ngModel)]='alignItems'>
      <option *ngFor='let item of alignItemsOptions' [value]='item'>{{item}}</option>
    </select>
  </div>
  <div>
    <h4>Flex Flow</h4>
    <select [(ngModel)]='flexFlow'>
      <option *ngFor='let item of flexFlowOptions' [value]='item'>{{item}}</option>
    </select>
  </div>
  <div>
    <h4>Align Content</h4>
    <select [(ngModel)]='alignContent'>
      <option *ngFor='let item of alignContentOptions' [value]='item'>{{item}}</option>
    </select>
  </div>
</div>
<app-flex-container
  [flexItems]=flexItems
  [display]=display
  [justifyContent]=justifyContent
  [alignItems]=alignItems
  [flexFlow]=flexFlow
  [alignContent]=alignContent
  [flexDirection]=flexDirection
  [flexWrap]=flexWrap
  [showControls]=true>
</app-flex-container>