/* Colors */
$yellow: #FDD14F;
$orange: #FDB34F;
$red: #E53F3F;
$blue: #78B7E2;
$black: #353535;
$white: #f9f9f9;

$primary-color: $yellow;
$secondary-color: $red;
$tertiary-color: $orange;
$info-color: $blue;
$default-color: $black;

$main-nav-color: $blue;
$flex-color: $white;