@import url(https://fonts.googleapis.com/css?family=Righteous|Satisfy|Raleway|Open+Sans:400,700);

$base-font: 'Open Sans';
$header-font: 'Raleway';
$brand-font: 'Righteous';
$brand-font-2: 'Satisfy';